
<div class="teams-container">
	<h1 class="list-header">Teams</h1>
	<div class="team-list-container">
		<% @teams.each do |team| %>
			<p class="list-items"><%=link_to team.teamname, team %></p>
		<% end %>
	</div>
</div>

